:root {
    --backgroundBase: #121214;
    --backgroundCard: #333D46;
    --textColorBase: #FAFAFA;
    --textColorBase2: #DBDBDB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px Arial, Helvetica, sans-serif;
    background-color: var(--backgroundBase);
    color: var(--textColorBase);
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--textColorBase);
}

ul, li {
    text-decoration: none;
    list-style: none;
}