section.repository-list {
    margin: 10vh 8vw;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h1 {
        display: inline-block;
        text-align: center;
        color: var(--textColorBase);
        font-size: 32px;
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 36px;
        
        li {
            width: 400px;
            min-width: 300px;
            display: flex;
            flex-direction: column;
            
            gap: 12px;
            background-color: var(--backgroundCard);
            padding: 24px;
            justify-content: space-between;
            border-radius: 8px;


            strong {
                color: var(--textColorBase);
                font-size: 16px;
                text-transform: uppercase;
            }
            
            p {
                margin-top: 16px;
                font-size: 14px;
                color: var(--textColorBase2);
            }

            a {
                margin-top: 12px;
                display: inline-block;
                background-color: #DBDBDB;
                padding: 0.8rem 1.6rem;
                color: #363636;
                text-align: center;
                border-radius: 5px;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    section.repository-list {
        margin: 12% 10%;
        
        ul {
            li {
                width: 300px;
                min-width: 250px;
            }
        }
    }
}